<p>Dear {username},</p>
<p>We hope this email finds you well.</p>
<p>Thank you for your prompt payment of the EMI. We appreciate your timely payment and are pleased to confirm that we have received your payment in full.</p>
<p>Please find the details of your payment below:</p>
<table>
    <tr><th>Receipt Number</th><td>{receiptNumber}</td></tr>
    <tr><th>Name</th><td>{username}</td></tr>
    <tr><th>Batch no</th><td>{batch}</td></tr>
    <tr><th>Installment Number</th><td>{InstallmentNo}</td></tr>
    <tr><th>Payment Type</th><td>{paymentType}</td></tr>
    <tr><th>Payment Date</th><td>{paymentDate}</td></tr>
    <tr><th>Payment Mode</th><td>{PaymentMode}</td></tr>
    <tr><th>Amount</th><td>{amount}</td></tr>
</table>
<p>This email serves as your official receipt and confirmation of payment. If you require a physical copy or have any questions regarding your payment, please do not hesitate to contact us at..</p>
<p>Thank you for being a valued member of our community. We look forward to continuing to support your learning journey.</p>
<p>Best regards,</p>
<p>Fly the Nest</p>
